<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raogers.babystats">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiapersListActivity"
            android:label="@string/title_activity_diapers_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raogers.babystats.MainActivity" />
        </activity>
        <activity
            android:name=".FoodListActivity"
            android:label="@string/title_activity_food_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raogers.babystats.MainActivity" />
        </activity>
        <activity
            android:name=".SleepListActivity"
            android:label="@string/title_activity_sleep_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raogers.babystats.MainActivity" />
        </activity>
        <activity
            android:name=".DiaperEditActivity"
            android:label="@string/title_activity_diaper_edit"
            android:parentActivityName=".DiapersListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raogers.babystats.DiapersListActivity" />
        </activity>
        <activity
            android:name=".FoodEditActivity"
            android:label="@string/title_activity_food_edit"
            android:parentActivityName=".FoodListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raogers.babystats.FoodListActivity" />
        </activity>
        <activity
            android:name=".SleepEditActivity"
            android:label="@string/title_activity_sleep_edit"
            android:parentActivityName=".SleepListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raogers.babystats.SleepListActivity" />
        </activity>
    </application>

</manifest>